In [10]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [5]:
wikipage = "https://en.wikipedia.org/wiki/List_of_sovereign_states_and_dependent_territories_by_continent_(data_file)"
result = requests.get(wikipage)

In [6]:
if result.status_code == 200:
    soup = BeautifulSoup(result.content, "html.parser")

In [7]:
table = soup.find('table', {'class': 'wikitable sortable'})

In [8]:
new_table = []
for row in table.find_all('tr')[1:]:
    column_marker = 0
    columns = row.find_all('td')
    new_table.append([column.get_text() for column in columns])

In [11]:
df = pd.DataFrame(new_table, columns=['ContinentCode', 'Alpha2', 'Alpha3', 'PhoneCode', 'Name'])
df['Name'] = df['Name'].str.replace('\n', '')
df

,ContinentCode,Alpha2,Alpha3,PhoneCode,Name
0,AS,AF,AFG,004,"Afghanistan, Islamic Republic of"
1,EU,AL,ALB,008,"Albania, Republic of"
2,AN,AQ,ATA,010,Antarctica (the territory South of 60 deg S)
3,AF,DZ,DZA,012,"Algeria, People's Democratic Republic of"
4,OC,AS,ASM,016,American Samoa
...,...,...,...,...,...
257,AF,ZM,ZMB,894,"Zambia, Republic of"
258,AS,XD,null,null,United Nations Neutral Zone
259,AS,XE,null,null,Iraq-Saudi Arabia Neutral Zone
260,AS,XS,null,null,Spratly Islands
261,OC,XX,null,null,Disputed Territory

In [12]:
res = pd.read_html(wikipage)
res[2]

     CC a-2  a-3      #                                          Name
0    AS  AF  AFG    4.0              Afghanistan, Islamic Republic of
1    EU  AL  ALB    8.0                          Albania, Republic of
2    AN  AQ  ATA   10.0  Antarctica (the territory South of 60 deg S)
3    AF  DZ  DZA   12.0      Algeria, People's Democratic Republic of
4    OC  AS  ASM   16.0                                American Samoa
..   ..  ..  ...    ...                                           ...
257  AF  ZM  ZMB  894.0                           Zambia, Republic of
258  AS  XD  NaN    NaN                   United Nations Neutral Zone
259  AS  XE  NaN    NaN                Iraq-Saudi Arabia Neutral Zone
260  AS  XS  NaN    NaN                               Spratly Islands
261  OC  XX  NaN    NaN                            Disputed Territory

[262 rows x 5 columns]